:root {
  --white-border: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  /* border: 1px solid red; */
  color: white;
}

body, html {
  background: #0e0d0f;
  font-family: "Space Mono", monospace;
}